/* Punto de entrada para todos los archivos css.*/
@import url("base/tokens.css");
@import url("./base/reset.css");
@import url("./base/utilities.css");

@import url("./layout/container.css");
@import url("./layout/grid.css");

@import url("./blocks/section.css");
@import url("./blocks/button.css");
@import url("./blocks/card.css");
@import url("./blocks/header.css");
@import url("./blocks/hero.css");
@import url("./blocks/pill.css");
@import url("./blocks/mosaic.css");
@import url("./blocks/timeline.css");
@import url("./blocks/cta.css");
@import url("./blocks/contact.css");
@import url("./blocks/select.css");
@import url("./blocks/toast.css");
@import url("./blocks/footer.css");

@import url("./base/a11y.css");
