.grid {
  display: grid;
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}
